<%- include('../partials/header') %>
<header>
    <h1>Welcome to my Blog 🎉</h1>
</header>
<div>
    <% posts.forEach(post => { %>
    <article>
        <h2><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
        <p><%= post.content %></p>
    </article>
    <% }) %>
</div>
<%- include('../partials/footer') %>
