<%- include('../partials/header') %>


<div class="content">
    <div class="blogTitle">
        <h2>⚠Welcome to my blog!</h2>
        <hr>
    </div>

    <% for(let post of posts){ %>
        <h3><a class="homePosts" href="/posts/<%= post.slug %>"><%= post.title %></a></h3>
        <p><%= post.content %></p>
    <%} %>
</div>

<%- include('../partials/footer') %>
