<%- include('../partials/header') %>
<header>
    <h1> Welcome to my blog!</h1>
</header>
<div>
    <% posts.forEach(post => { %>
        <article>
            <h2><a href="/posts/<%= post.slug %>"> <%= post.title %></a></h2>
            <p><%= post.content %></p>
        </article>
        <% }) %>
    <a href="../api/CreatePostPage"> Create New Post</a><br>
    <a href="../api/deleteAll"> Delete All Posts</a>
</div>

<%- include('../partials/footer') %>
