<%- include('../partials/header') %>
    <header class="logo-text">
        <h1> ✒️ nameBlog </h1>
    </header>
    <div>
        <% posts.forEach(post => { %>
            <article class="post">
                <h2 class="post-title">
                    <%= post.title %>
                </h2>
                <div class="line-brake"></div>
                <p class="post-content">
                    <%= post.content %>
                </p>
                <a class="read-more" href="/posts/<%=post.slug%>">
                    read more about this ... ►
                </a>
            </article>
            <% }) %>
    </div>
    <%- include('../partials/footer') %>