<link rel="stylesheet" href="style-single-page.css">

<header class="logo-text">
    <h1> ✒️ nameBlog </h1>
    <a href="/">
        <svg version="1.1" id="Capa_1" class="svg-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="459px" height="459px" viewBox="0 0 459 459" style="enable-background:new 0 0 459 459;" xml:space="preserve">
            <g id="reply">
                <path d="M178.5,140.25v-102L0,216.75l178.5,178.5V290.7c127.5,0,216.75,40.8,280.5,130.05C433.5,293.25,357,165.75,178.5,140.25z"
                    />
            </g>
        </svg>
    </a>
</header>
<div>
    <article class="post">
        <h2>
            <span class="post-title" href="/posts/<%=post.slug%>">
                <%= post.title %>
            </span>
        </h2>

        <div class="line-brake"></div>

        <p class="post-content">
            <%= post.content %>
        </p>

        <br>

        <div class="image-blog">
            <img src="<%=post.imageUrl%>" alt="image-blog">
        </div>

        <p class="post-content">
            <%= post.contentAfterReadMore %>
        </p>
    </article>

    <div id="author">
        <img src="<%=post.authorAvatar%>" alt="avatar-icon" class="avatar-icon">
        <div class="author-details">
            <i class="fa fa-user" aria-hidden="true"></i> Author -
            <%= post.authorName %>
                <p class="margin-fix-for-date-post">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Date -
                    <%= post.datePost %>
                </p>
                <p class="margin-fix-for-date-post-2">
                    <i class="fa fa-puzzle-piece" aria-hidden="true"></i> Category -
                    <%= post.category %>
                </p>
        </div>
    </div>
</div>

<section class="bottom">
    <span class="made-by">Made with <i class="fa fa-heart animated infinite pulse"></i> by <a target="_blank" href="https://www.linkedin.com/in/ilieionut">Ilie Gheorghe Ionuț</a> with help from <a target="_blank" href="https://digitalnation.ro/">digitalnation.ro</a>
</section>

<script src="https://kit.fontawesome.com/b6f9cf9709.js" crossorigin="anonymous"></script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pacifico&display=swap');
    * {
        box-sizing: border-box;
    }
    
    body {
        text-align: center;
        background-color: #3C40C6;
        cursor: context-menu;
    }
    .fa-user, .fa-puzzle-piece, .fa-calendar {
        font-size: 13px;
        color: #ef5350;
    } 
    #author {
        width: 400px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
    
    #author img {
        width: 60px;
        height: 60px;
        margin-right: 25px;
    }
    
    .author-details {
        text-align: left;
        font-family: 'Bree Serif', serif;
        color: #EAF0F1;
        font-size: 16px;
        font-weight: 400;
    }
    
    .margin-fix-for-date-post {
        margin-top: -2px;
        display: block;
    }
    
    .margin-fix-for-date-post-2 {
        margin-top: -18.5px;
        display: block;
    }
    
    .logo-text {
        font-family: 'Pacifico', cursive;
        color: #EAF0F1;
        width: 100%;
        margin: 10px auto;
    }
    
    .post {
        max-width: 700px;
        padding: 10px 15px;
        margin: 15px auto;
        display: block;
        box-shadow: 1px 1px 10px #EAF0F1;
    }
    
    .post-title {
        font-family: 'Bree Serif', serif;
        color: #EAF0F1;
        font-weight: 500;
        font-size: 2rem;
    }
    
    .post-content {
        font-family: 'Bree Serif', serif;
        color: #DAE0E2;
        font-size: 1rem;
    }
    
    .line-brake {
        width: 250px;
        height: 3px;
        display: block;
        background-color: #DAE0E2;
        margin: -13px auto;
        border-radius: 100%;
    }
    
    #Capa_1 {
        fill: #DAE0E2;
        width: 545px;
        height: 65px;
        position: absolute;
        left: 176px;
        top: 256px
    }
    
    #Capa_1:hover {
        fill: #EA7773;
        cursor: pointer;
    }
    
    .image-blog img {
        max-width: 100%;
    }
    
    .image-blog {
        background-color: red;
        display: block;
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }

    .bottom {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    }
    .made-by {
    color: #f5f6fa;
    margin: 0 auto;
    text-align: center;
    }
    .made-by a {
    color: #f5f6fa;
    text-decoration: none;
    }
    .made-by a:hover {
    text-decoration: underline;
    color: #ef5350;
    }
    .fa-heart {
    color: #ef5350;
    }
</style>