<%- include('../partials/header') %>
<link rel='stylesheet' href='/style-single.css'/> 
</head>
<body>
<div class="background-image">
<div class="container">
    <header>
        <h1> <%= post.title %></h1>
        <p><%= post.content %></p>
    </header>
    <div class="links">
        <a href="../admin/api/edit/<%= post.id %>">Edit Post</a>
        <a href="../admin/api/delete/<%= post.id %>">Delete Post</a>
        <a href="/"> Go back to Home</a>
    
    </div>
</div>
</div>

<%- include('../partials/footer') %>
